.TIY-container
    border-top 2px solid #eee
    border-bottom 2px solid #eee
    position relative
    margin 10px 0
    overflow hidden
    display inline-block
    width calc(100% + 2 * var(--space))
    margin 1rem calc(0rem - var(--space))
    iframe
        position relative
        top 0
        display inline-block
        background-color white