#valine_container
    #veditor
        background-image url(/assets/valine.webp)
        background-size 200px
        background-repeat no-repeat
        background-position right
        background-color transparent
        resize none
        font-family $global_font
        &:focus
            background-position-y calc(100% + 200px)
            transition all 0.2s ease-in-out 0s

    .vcards .vcard
        padding 15px 20px 0 20px
        border-radius 4px
        margin-bottom 15px
        border 1px solid #f0f0f0

    .vcards .vcard .vh .vcard
        border none
        box-shadow none
    
    .vimg
        border none